body{
    /*le saco los margenes por defecto */
    margin: 0;
   
    
}
header .contenedor {
    /*me pone los ul li a al lado del p*/
 display: flex;
 /*me deja el la etiqueta p a un lado y el menu al otro lado*/
 justify-content: space-between;
}
header ul{
    /*me pone los ul li a al lado */
display: flex;

}
header ul li{
    /*le saco los puntos al menu */
    list-style: none;
    /*se paro los em¿l menu*/
    margin-right: 15px;
}
header a{
    /*saco la raya*/
    text-decoration: none;
    color: #fff;

}
.contenedor{

    max-width: 1280px;
    width: 90%;
    /*centro el contenido*/
    margin: auto;
}
header{
    background: rgb(130, 113, 228);
}
.logo{
    /*tamaño del texto*/
    
    color: #fff;
    font-size: 25px;
   
}

.carousel-inner img {
    width: 100%;
    max-height: 450px;
}

.texto p {
    color: #fff;

}
h2{
    color: #fff;
    text-align: center
}
h1 {
    color: #fff;
    
}

.imagen-nosotros img{
    /*centro la imagen*/
    display:block;
    margin:auto;
    margin: 20px;
}
 /*empieza aca el menu*/
h3{
    color: #fff;
    text-align: center;
    padding: 20px;
   
}
#menus{
    background: rgb(130, 113, 228);
}
.contenedor p{
    color: #fff;
}
.contenedor-imagen {
    max-width: 1280px;
    width: 90%;
    /*centro el contenido*/
    margin: auto;
}

 /*pie */
 footer{
     background: #2f2f2f;
     text-align: center;
    
 }
.redes img {
     width: 20px;

 }
 #contacto{
    background: rgb(130, 113, 228);
 }
 h5 {
    color: #fff;
 }
 
 #map {
	height: 300px;
    width: 50%;
    margin: 50px;
    padding: 20px;
    
}
.titulo p{
    width: 50px;
    text-align: center;
    color: #fff;
    
}

    
 html body{
    background: rgb(130, 113, 228);
 }

.parrafo {
    margin: 20px;
    padding: 20px;
}



/*PELICULA*/






  



