<!DOCTYPE html>

<html lang="es">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <meta charset="utf-8">
    <title>RESTAURANT MAR AZUL</title>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />


</head>

<body>

    <header>

        <div class="menu">
            <div class="contenedor">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-mg-6 col-lg-6">
                            <p class="logo">RESTAURANT MAR AZUL</p>
                        </div>
                        <nav>
                            <div class="col-12 col-sm-12 col-mg-6 col-lg-6">
                                <ul class="lista-menu">
                                    <li><a href="{% url 'home' %}">Inicio</a></li>
                                    <li><a href="{% url 'menu' %}">Menú</a></li>
                                    <li><a href="{% url 'nueva_persona' %}">Contactenos</a></li>
                                    {%if user.is_authenticated %}
                                        {% if user.username == "admin" %}
                                        <li><a href="{% url 'listado_persona' %}">Listar</a></li>
                                        <li><a href="{% url 'imagen' %}">Imagen</a></li>
                                        <li><a href="{% url 'bucarrut' %}">Buscar</a></li>
                                        <li><a href="/api/personas/">Api personas</a></li>
                                        {% endif %}
                                    {% endif %}

                                    <!-- si el usuario esta autecticado -->
                                    {% if user.is_authenticated %}
                                    
                                     <li><a href="#">Usuario {{ user.username }}</a></li>
                                     <!-- para cerrar seccion -->
                                     <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                                    {% else %}
                                     <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                                     <!-- para que el usuario se registre -->
                                     <li><a href="{% url 'registro_usuario' %}">Registro Usuario</a></li>
                                    {% endif %}
                                    
                            </div>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        {% block contenido %}

        {% endblock %}
       


       
    </header>


</body>

</html>