{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<body>

    <div class="container table-striped">
        <h2>Tipo de Busqueda</h2>
        <table class="table">
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Cantidad de Personas</th>

                <th>Correo Electronico</th>
                <th>Servicio</th>
                



            </tr>

            <form action="" method="POST">
                <ul>
                    {% for p in personas %}


                    <tr>
                        <td>{{p.rut}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.cantidad_de_personas}}</td>
                        <td>{{p.correo_electronico}}</td>
                        <td>{{p.servicio}}</td>



                    </tr>

                    {% endfor %}
                </ul>

                Busqueda por Cantidad de Personas:
                <input type="number" name="cantidad_de_personas" value="{{cantidad_de_personas}}" />
                <input type="submit" value="Buscar" class="btn btn-success">
                {% csrf_token %}
            </form>

        </table>



       
</body>
{% endblock %}

