{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="item" src="{% static 'imagenes/fotoUno.jpg' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="item" src="{% static 'imagenes/fotoDos.jpg' %}" alt="Second slide"> 
      </div>
      <div class="carousel-item">
        <img class="item" src="{% static 'imagenes/fotoTres.jpg' %}" alt="Third slide" >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div id ="sobre-nosotros">
    <div class ="contenedor">
      <h1>Sobre Nosotros</h1>
        <div class="contenedor-sobre-nosotros">
          <div class="imagen-nosotros">
           <img src="{% static 'imagenes/sobreNosotros.jpg' %}">
          </div>
         <div class="texto">
          <p>Deléitese con una amplia variedad de platillos tradicionales y refinados, en un restaurante a la carta, romántico y gourmet para paladares exigentes.</p> 
          <p>Un espacio interior con aire acondicionado iluminado con velas. Sorprenda a su pareja con una cena especial o en conjunto con su familia degustando de platillos verdaderamente únicos.</p> 
          <P>El destino de Manzanillo Colima, es reconocido como la Capital Mundial del Pez Vela y para aquellos que están en búsqueda de una experiencia inolvidable, pueden probar su suerte luchando contra un marlín en las cálidas aguas de Manzanillo. Este hermoso puerto cuenta además con una impresionante diversidad de vida marina, lo que convierte a esta región del Pacífico Mexicano en un paraíso del buceo, actividades acuáticas y eco-aventura. Al igual, para los que buscan la relajación total, se enamorarán de las espectaculares puestas de sol, que en conjunto con las brisas tropicales, los viajeros encuentren su paz interior.

              Manzanillo es reconocido por ser un destino tranquilo y relajante, sin embargo también ofrece una divertida vida nocturna en donde encontrará discotecas, bares y restaurantes de alta gastronomía internacional. Desde clubes de Salsa, música en vivo y música electrónica, adaptándose a cualquier gusto y estilo de los viajeros. En Tesoro Manzanillo, nuestro Concierge le indicará y recomendará la mejor opción para su visita.</P>
        </div>
     </div>
   </div>

  <div id="id-visitamos">
     <div class="que-esperas">
       <h2> ¿Que esperas para visitarnos?</h4>
  </div>
  

  {% endblock %}