{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


<div class="container table-striped">
    <h2>Carga de Imagen</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="table">
            {{ form.as_table }}
        </table>

        <input type="submit" value="Guardar" class="btn btn-success">


    </form>
</div>
{% endblock %}