{% extends 'core/base.html' %}



{% block contenido %}

<h2>Listado de Persona</h2>
 <!-- para darle color a las filas -->


<div class="container table-striped">

<table class="table">
    <tr>
       <th>Rut</th>
       <th>Nombre</th>
       <th>Cantidad</th>
       <th>Correo electronico</th>
       <th>Servicio</th>
       <th>Opciones</th>



    </tr>
 <!-- recorro el arreglo para mostrar a las personas -->
    {% for p in personaListar %}

    <tr>
        <td>{{p.rut}}</td>
        <td>{{p.nombre}}</td>
        <td>{{p.cantidad_de_personas}}</td>
        <td>{{p.correo_electronico}}</td>
        <td>{{p.servicio}}</td>
        <td>
            {%if user.is_authenticated %}
                {%if user.username == "admin" %}
             <!-- recibe un id en el url  -->
                <a href ="{% url 'modificar_persona' p.id %}">Modificar </a>
                
             <!-- recibe un id en el url  -->
                <a href ="{% url 'eliminar_persona' p.id %}">eliminar </a>
                {% endif %}	
            {% endif %}	
        </td>
        

    </tr>
    {% endfor %}

</table>
</div>
{% endblock %}

