{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


<section id="menus">
    <div class="contenedor">
        <h3>Menú</h3>
        <p>Desayunos buffet con vista a la bahía y una amplia variedad de platillos hacen de tus mañanas la mejor manera
            de iniciar el día. Alimentos ligeros y deliciosos hacen un desayuno familiar lo mejor de tu experiencia en
            nuestro resort. Por la tarde, un festín de platillos con variedad internacional acompañado de especialidades
            preparadas al momento y a su gusto. Las noches se tornan internacionales con las cenas-tema, Europa, Asia,
            Caribe y Mexico inspiran las creaciones de nuestro Chef Ejecutivo para deleitar a nuestros huéspedes.
            Desayunos buffet con vista a la bahía y una amplia variedad de platillos hacen de tus mañanas la mejor manera
            de iniciar el día. Alimentos ligeros y deliciosos hacen un desayuno familiar lo mejor de tu experiencia en
            nuestro resort. Por la tarde, un festín de platillos con variedad internacional acompañado de especialidades
            preparadas al momento y a su gusto. Las noches se tornan internacionales con las cenas-tema, Europa, Asia,
            Caribe y Mexico inspiran las creaciones de nuestro Chef Ejecutivo para deleitar a nuestros huéspedes.
        
        </p>
    </div>

    <div class="container">

        {% for p in imagenes %}

        {% if p.imagen %}
        <img src="{{ p.imagen.url }}" width="200" height="200">
        
        {% endif %}




        {% endfor %}
    </div>


</section>

{% endblock %}