{% extends 'core/base.html' %}



{% block contenido %}

<h2>Modificar Persona</h2>

<form action="" method="POST">
  {%  csrf_token %}
  <table>
    {{ form.as_table }}
    
  </table>



  <input type="submit" value="Modificar">

  



</form>
<!-- muestra el mensaje-->
{{ mensaje }}

{% endblock %}