{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
{% if user.is_authenticated %}
<h2>Formulario</h2>


 <div class="container table-striped">
 <form action ="" method="POST">
  
    {%  csrf_token %}
    <table class="table">
       <!-- muestra toda la informacion del formulario con la variable form-->
      {{ form.as_table }}
    </table>
  

    <input type ="submit" value="Enviar" class="btn btn-success">

   



 </form>
{% else %}
<h3>Tu no esta registrado necesitas registrate por favor..... </h3>
<a href="{% url 'registro_usuario' %}"></a>
  
{% endif %}

</div>



{% endblock %}