{% extends 'core/base.html' %}



{% block contenido %}
<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registro de Usuario</title>

</head>


<body>

    <div class="container table-striped">
        <h2>Registro de Usuario</h2>

        <form action="" method="POST">
            {%  csrf_token %}
            <table class="table">
                <!-- se inyecta automaticamente el formulario-->
                {{ form.as_table }}

            </table>


            <input type="submit" value="Registrar" class="btn btn-success">


        </form>
    </div>


</body>

</html>
{% endblock %}